@model IEnumerable<themebitch.Models.Project>

@using System.Configuration
@using System.Data.SqlClient
@using themebitch.Models;

<table class="table table-hover">
    <tr>
        
        <th>ID</th>
        <th>Title</th>
        <th>DueDate</th>
        <th>Status</th>
        <th>Priority</th>
        <th>Action</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td> @item.ProjectID </td>
            <td> @item.ProjectTitle </td>
            <td> @item.DueDate </td>
            <td> @item.ProjectStatus </td>
            <td> @item.ProjectPriority </td>
          <td>@Html.ActionLink("Open", "DisplayProjet", "Project", new { id = @item.ProjectID }, null)</td>
        
     

        </tr>
    }
</table>









