@model themebitch.Models.Information_Project
@using System.Configuration
@using System.Data.SqlClient
@using themebitch.Models;

@{
   int proj = Model.project.ProjectID;
    ViewBag.Title = "Index";
}


<h4>&nbsp; Project Name: <b>@Model.project.ProjectTitle</b> </h4>
<h4>&nbsp; Status: <b>@Model.project.ProjectStatus</b></h4>
<h4>&nbsp; Project Manager: <b>@Model.info.FirstName @Model.info.LastName</b></h4>
<br />
&nbsp;<button class="btn btn-default" type="submit">@Html.ActionLink("Add Task", "Index", "Task")</button>

<fieldset class="scheduler-border">
    <legend class="scheduler-border">Task(s)</legend>
    <div class="control-group">
     
        <table class="table table-hover" >
       <thead>
           <th>ID</th>
           <th>Title</th>
            <th>Date Added</th>
            <th>Due Date</th>
           <th>Status</th>
           <th>Priority</th>
           <th>Action</th>
       </thead>

                   @{

          
           
               
               string connString = ConfigurationManager.ConnectionStrings["DefaultConnection"].ConnectionString;
               string iQuery = "SELECT * FROM Task WHERE ProjectID = @proj";
               
    using(SqlConnection conn = new SqlConnection(connString)) 
    {
        using (SqlCommand comm = new SqlCommand(iQuery,conn))
        {
            comm.Parameters.AddWithValue("proj",proj );
            try
            {
                conn.Open();
                using (SqlDataReader rdr = comm.ExecuteReader())
                {
                    while(rdr.Read())
                    {
                        int ProjectID = Convert.ToInt32(rdr["ProjectID"]);
                            int TaskID = Convert.ToInt32(rdr["TaskID"]);
                            string TaskTitle = rdr["TaskTitle"].ToString();
                            DateTime DueDate = Convert.ToDateTime(rdr["DueDate"]);
                            string TaskStatus = rdr["TaskStatus"].ToString();
                            DateTime DateAdded = Convert.ToDateTime(rdr["DateAdded"]);
                            int InformationID = Convert.ToInt32(rdr["InformationID"]);
                            string TaskPriority = rdr["TaskPriority"].ToString();
                            

                            <tr>
                                <td>@TaskID</td>
                                <td>@TaskTitle</td>
                                <td>@DateAdded</td>
                                <td>@DueDate</td>
                                <td>@TaskStatus</td>
                                <td>@TaskPriority</td>
                                <td>@Html.ActionLink("Open", "DisplayProjet", "Project", new { id = @ProjectID}, null)</td>
                            </tr>

                    }
                }
            }
        catch (Exception)
            {
            throw;
        }
        finally
            {
                conn.Close();
            }
        }
    }
}
              </table>

    

       
</div>
</fieldset>

<fieldset class="scheduler-border">
    <legend class="scheduler-border">Comment(s)</legend>
    <div class="control-group" >

        <div style="width:100%;padding-bottom:10px;">
            <textarea id="limiter" name="commentBody" class="form-control" style="height: 50px;" required></textarea>
        </div>
        <div class="form-group" >


            <div class="form-actions no-margin-bottom" style="text-align:center;float:right;">
                <input type="submit" value="Submit" class="btn btn-primary btn-sm " />
            </div>

        </div>
    </div><br /><br />
    <div class="control-group" style="border:solid red;">



    </div>
</fieldset>