<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
 <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <meta charset="UTF-8" />
    <title>Koalaborate  </title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <!--[if IE]>
       <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
       <![endif]-->
    <!-- GLOBAL STYLES -->
    <!-- GLOBAL STYLES -->
    <link rel="stylesheet" href="~/Content/assets/plugins/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/assets/css/main.css" />
    <link rel="stylesheet" href="~/Content/assets/css/theme.css" />
    <link rel="stylesheet" href="~/Content/assets/css/MoneAdmin.css" />
    <link rel="stylesheet" href="~/Content/assets/plugins/Font-Awesome/css/font-awesome.css" />
    <!--END GLOBAL STYLES -->
    <!-- PAGE LEVEL STYLES -->

    <link href="~/Content/assets/css/jquery-ui.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/assets/plugins/uniform/themes/default/css/uniform.default.css" />
    <link rel="stylesheet" href="~/Content/assets/plugins/inputlimiter/jquery.inputlimiter.1.0.css" />
    <link rel="stylesheet" href="~/Content/assets/plugins/chosen/chosen.min.css" />
    <link rel="stylesheet" href="~/Content/assets/plugins/colorpicker/css/colorpicker.css" />
    <link rel="stylesheet" href="~/Content/assets/plugins/tagsinput/jquery.tagsinput.css" />
    <link rel="stylesheet" href="~/Content/assets/plugins/daterangepicker/daterangepicker-bs3.css" />
    <link rel="stylesheet" href="~/Content/assets/plugins/datepicker/css/datepicker.css" />
    <link rel="stylesheet" href="~/Content/assets/plugins/timepicker/css/bootstrap-timepicker.min.css" />
    <link rel="stylesheet" href="~/Content/assets/plugins/switch/static/stylesheets/bootstrap-switch.css" />
    <link rel="stylesheet" href="~/Content/assets/css/bootstrap-fileupload.min.css" />

    <!-- END PAGE LEVEL  STYLES -->
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    <style ="text/css">
        legend.scheduler-border {
            width: auto;/* Or auto */
            padding: 0 10px; /* To give a bit of padding on the left and right */
            border-bottom: none;
        }

        fieldset.scheduler-border {
            border: 1px groove #ddd !important;
            padding: 0 1.4em 1.4em 1.4em !important;
            margin: 0 0 1.5em 1.5em !important;
            -webkit-box-shadow: 0px 0px 0px 0px #000;
            box-shadow: 0px 0px 0px 0px #000;
           width:90%;
        }
    </style>

</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="padTop53 " >

    <!-- MAIN WRAPPER -->
    <div id="wrap">


        <!-- HEADER SECTION -->
        <div id="top">

            <nav class="navbar navbar-inverse navbar-fixed-top " style="padding-top: 10px; background-color: #3c8dbc;">
                <a data-original-title="Show/Hide Menu" data-placement="bottom" data-tooltip="tooltip" class="accordion-toggle btn btn-primary btn-sm visible-xs" data-toggle="collapse" href="#menu" id="menu-toggle">
                    <i class="icon-align-justify"></i>
                </a>
                <!-- LOGO SECTION -->
                <header class="navbar-header">

                    @*<a href="index.html" class="navbar-brand">
                        <img src="Images/logoKoala.png" alt="Koalaborate.com" style="float:left;margin-left:-10px;width:200px;height:50px;" />
                    </a>*@
                </header>
                <!-- END LOGO SECTION -->
                <ul class="nav navbar-top-links navbar-right" >

                    <!-- MESSAGES SECTION -->
                    <!--END MESSAGES SECTION -->
                    <!--TASK SECTION -->
                    <!--END TASK SECTION -->
                    <!--ALERTS SECTION -->
                    <!-- END ALERTS SECTION -->
                    <!--ADMIN SETTINGS SECTIONS -->

                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="icon-user "></i>&nbsp; <i class="icon-chevron-down "></i>
                        </a>

                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="#"><i class="icon-user"></i> User Profile </a>
                            </li>
                            <li>
                                <a href="#"><i class="icon-gear"></i> Settings </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                @Html.ActionLink("Sign Out", "logout", "Login")
                            </li>
                        </ul>

                    </li>
                    <!--END ADMIN SETTINGS -->
                </ul>

            </nav>

        </div>
        <!-- END HEADER SECTION -->
        <!-- MENU SECTION -->
        <div id="left">
            <div class="media user-media well-small">
                <a class="user-link" href="#">
                    <img src=@Session["image"] class="img-circle" alt="User Image" style="height:50px;width:50px;margin-top:15px;margin-left:5px;" />
                </a>
                <br />
                <div class="media-body">
                    <p class="media-heading"> @Session["first"] @Session["last"]</p>
                    <ul class="list-unstyled user-info">

                        <li>
                            <a class="btn btn-success btn-xs btn-circle" style="width: 10px;height: 12px;"></a> Online

                        </li>

                    </ul>
                </div>
                <br />
            </div>
            <br>
            <ul id="menu" class="collapse" >


                <li class="panel " >
                    @Html.ActionLink("Add New Project", "Index", "Project")
                </li>

                <li class="panel ">
                    @Html.ActionLink("Dashboard", "Index", "Dashboard")
                </li>

                <li class="panel ">
                    @Html.ActionLink("Project", "Index", "Project")
                </li>

                <li class="panel ">
                    @Html.ActionLink("Tasks", "Index", "Project")
                </li>

                <li class="panel ">
                    @Html.ActionLink("Calendar", "Index", "Project")
                </li>



              

            </ul>

        </div>
        <!--END MENU SECTION -->
        <!--PAGE CONTENT -->
        <div id="content">
            <br />
            @RenderBody()


        </div>
        <!-- END PAGE CONTENT -->

    </div>


    <!--END MAIN WRAPPER -->
    <!-- FOOTER -->
    <div id="footer">
        <p>&copy;  binarytheme &nbsp;2014 &nbsp;</p>
    </div>
    <!--END FOOTER -->
    <!-- GLOBAL SCRIPTS -->
    <script src="~/Content/assets/plugins/jquery-2.0.3.min.js"></script>
    <script src="~/Content/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/assets/plugins/modernizr-2.6.2-respond-1.1.0.min.js"></script>
    <!-- END GLOBAL SCRIPTS -->
    <!-- PAGE LEVEL SCRIPT-->
    <script src="~/Content/assets/js/jquery-ui.min.js"></script>
    <script src="~/Content/assets/plugins/uniform/jquery.uniform.min.js"></script>
    <script src="~/Content/assets/plugins/inputlimiter/jquery.inputlimiter.1.3.1.min.js"></script>
    <script src="~/Content/assets/plugins/chosen/chosen.jquery.min.js"></script>
    <script src="~/Content/assets/plugins/colorpicker/js/bootstrap-colorpicker.js"></script>
    <script src="~/Content/assets/plugins/tagsinput/jquery.tagsinput.min.js"></script>
    <script src="~/Content/assets/plugins/validVal/js/jquery.validVal.min.js"></script>
    <script src="~/Content/assets/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="~/Content/assets/plugins/daterangepicker/moment.min.js"></script>
    <script src="~/Content/assets/plugins/datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/Content/assets/plugins/timepicker/js/bootstrap-timepicker.min.js"></script>
    <script src="~/Content/assets/plugins/switch/static/js/bootstrap-switch.min.js"></script>
    <script src="~/Content/assets/plugins/jquery.dualListbox-1.3/jquery.dualListBox-1.3.min.js"></script>
    <script src="~/Content/assets/plugins/autosize/jquery.autosize.min.js"></script>
    <script src="~/Content/assets/plugins/jasny/js/bootstrap-inputmask.js"></script>
    <script src="~/Content/assets/plugins/jasny/js/bootstrap-fileupload.js"></script>
    <script src="~/Content/assets/js/formsInit.js"></script>
    <script>
        $(function () { formInit(); });
    </script>

    <!--END PAGE LEVEL SCRIPT-->

</body>
<!-- END BODY -->
</html>
